//this is not even a button lmao
.btn {
  border: 1px solid $lightgray;
  padding: 8px 0;
  background-color: $black;
  color: $lightgray;
  width: 120px;
  //font-size: 1.4rem;
  text-align: center;
  border-radius: 5px;
}