.navBar {
  height: 40px;
  position: fixed;
  width: 100%;
  background-color: $grayOp;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;

  .navBar__link {
    text-decoration: none;
    color: $white;

    &:hover {
      color: rgba(255, 255, 255, 0.40);
    }
  }

}

@media all and (min-width: 960px) {
  .navBar {
    padding: 0 170px;
  }
}